<!DOCTYPE html>
<html lang="Zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/src/icon.png">
    <title>Batch Code Checker</title>
</head>
<body>
    <h1 style="text-align:center;">Batch Code Checker</h1>
    <div style="text-align:center;">
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file">
            <input type="submit" value="Submit">
        </form>    
    </div>
    

    
</body>
</html>